In [1]:
# python imports
from pathlib import Path
import pickle

# data science libraries
import numpy as np
import pandas as pd

# scikit learn model
import sklearn
from sklearn.ensemble import RandomForestRegressor

In [2]:
# configuration
class config:
    feature_cols = ['venue', 'batting_team', 'bowling_team', 'innings']
    target_col = 'score'

In [3]:
# paths
df_path = Path('../data/processed/train.csv')
pkl_path = Path('../bin/objs/')

In [4]:
# reading data
train_df = pd.read_csv(df_path)
train_df.head()

   venue  batting_team  bowling_team  innings  score
0     15             9            10        2     54
1     15            10             9        1     59
2     11             6             8        1     61
3     11             8             6        2     59
4     16             3             5        1     52

In [5]:
X = train_df.loc[:, config.feature_cols].values
y = train_df[config.target_col].values

In [6]:
regr = RandomForestRegressor()
regr.fit(X, y)

RandomForestRegressor()

In [7]:
with open(pkl_path/'venue_le.pkl', 'rb') as f:
    venue_le = pickle.load(f)
    
with open(pkl_path/'team_le.pkl', 'rb') as f:
    team_le = pickle.load(f)

In [8]:
venue_le.classes_

array(['Arun Jaitley Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Green Park', 'Holkar Cricket Stadium',
       'M Chinnaswamy Stadium', 'M.Chinnaswamy Stadium',
       'MA Chidambaram Stadium',
       'MA Chidambaram Stadium, Chepauk, Chennai',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Saurashtra Cricket Association Stadium', 'Sawai Mansingh Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       'Wankhede Stadium', 'Wankhede Stadium, Mumbai'], dtype=object)

In [9]:
team_le.classes_

array(['Chennai Super Kings', 'Delhi Capitals', 'Delhi Daredevils',
       'Gujarat Lions', 'Kings XI Punjab', 'Kolkata Knight Riders',
       'Mumbai Indians', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad'], dtype=object)

In [12]:
regr.predict([[14, 4, 5, 1]])

array([44.48166667])